<div class="moodbile-profile">
    <div class="user">
        <span class="moodbile-avatar"></span>
    </div>
    <div class="email">
        <span class="moodbile-icon icon-email"></span>
        <a class="email-link"></a>
    </div>
    <div class="country">
        <span class="moodbile-icon icon-country"></span>
    </div>
    <div class="city">
        <span class="moodbile-icon icon-city"></span>
    </div>
    <!--
    <div class="courses-list">
        <span class="moodbile-icon icon-courses"></span>
    </div>
    <div class="roles">
        <span class="moodbile-icon icon-roles"></span>
    </div>-->
</div>