/* Basic reset */
body {
    font-family: Verdana, Arial, Helvetica;
    font-size: 16px;
    color: #666;
    line-height: 16px;
    letter-spacing: normal;
    -webkit-text-size-adjust: none;
}
a{
    text-decoration: none; color: #333;
}
ul {
    list-style-image:none;
    list-style-position:outside;
    list-style-type:none;
}
ul li{padding: 5px;}
dialog, dl {}
dt{}
dd{}
input[type='text'], input[type='password'], textarea {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background-color: #FFFFFF;
    border: 1px solid #999999;
    clear: both;
    color: #999999;
    font-size: 16px;
    font-style: italic;
    margin: 10px;  
}

/* Default theme */
#container{
    overflow:hidden;
    position:relative;
    top: 0;
}

/* Header */
#content header {
    background-color: #F0F0F0;
    height: 55px;
}
a.sitename{
    display: block;
    font-size:20px;
    text-indent: -9999px;
    height: 35px;
    padding:10px !important;
    text-shadow: 1px 1px 0 #e6e6e6;
    background:transparent url(../images/logo.png) no-repeat scroll 12px 2px;
}

/* Content */
.content { 
    top: 0;
    float: left;
    width:100%;
    position: relative;
}
#wrapper {
    position: relative;
}

/* Mask */
#mask {
    display: none;
    position: fixed;
    top: 0;left: 0px;
    width:100%; height: 100%;
    opacity: 0.5;
    background: #000;
    color: #fff;
    overflow: hidden;
    z-index: 9999;
}
#mask div {
    background-image: url(../images/preload.gif);
    background-repeat: no-repeat;
    background-position: center center;
    width: 150px; height: 150px;
    line-height:215px;
    margin:135px auto;
    text-align: center;
    font-weight: bold;
}

/* Templates */
#templates {display: none;}

/* Breadcrumb */
nav#breadcrumb {
    font-size: 11px; 
    background-color: #f0f0f0;
    display: none;
    padding: 5px 6px;
}
nav#breadcrumb ul li {
    display: inline;
    padding: 0 2px;
}
nav#breadcrumb a {
    display: none;
    color: #333;
    text-shadow: 1px 1px 0 #e6e6e6;
    background: url(../images/breadcrumb.png);
    background-repeat: no-repeat;
    background-position: right 0;
    padding-right: 15px;
    font-weight: bold;
}

nav#breadcrumb li:last-child a { background-image: none;}
nav#breadcrumb li#home span {
    background:transparent url(../images/breadcrumb.png) no-repeat scroll center bottom;
    display:inline-block;
    height:15px;
    text-indent:-9999px;
    width:15px;
}

/* Navigation bar */
nav#toolbar {
    font-size: 12px;
    text-align: center;
    background-color: #F0F0F0;
    font-weight: bold;
    z-index: 0;
    height:32px;
    border-bottom: 2px solid #F90;
    display: none;
    padding-top: 5px;
}
nav#toolbar li {
    background-color: #cfcfcf;
    display: inline-block;
    height:22px;
    line-height:20px;
    position:relative;
    width:21%;
    margin:0 1px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius: 5px 5px 0 0;
}
nav#toolbar a { 
    color: #333;
    margin-top:2px;
    text-shadow: 0 1px 0 #e6e6e6;
    display: block;
    overflow: hidden;
}
nav#toolbar li.active{
    background-color: #FF9900;
}

/* user */
.moodbile-user-options {
    position:absolute;
    right:10px;
    top:0;
}
#user-welcome {
    font-size: 11px;
    text-shadow: 0 1px 0 #fff;
}
#user-profile {
    -moz-border-radius:10px;
    -webkit-border-radius: 10px;
    -moz-box-shadow: 0 1px 3px #333;
    -webkit-box-shadow: 0 1px 3px #333;
    background-repeat: no-repeat;
    background-color: -webkit-gradient(linear,left bottom,left top,color-stop(0.35, #FF9900),color-stop(0.68, #FFCD7F));
    background-color: -moz-linear-gradient(center bottom,#FF9900 35%,#FFCD7F 68%);
    border:0 none;
    float: right;
    height:35px;
    margin-top: 2px;
    width:35px;
    z-index:100; 
}
#user-nav {
    position:absolute;
    right:0;
    top:57px;
    z-index:9999;
}
#user-nav ul {
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-box-shadow:0 1px 3px #000;
    -webkit-box-shadow:0 1px 3px #000;
    background-color: #000; 
    margin-top:15px;
    padding:5px;
    width:100px;
    opacity: 0.8;
}

#user-nav ul li a {
    color: #fff;
    font-weight: bold;
    display: block;
}

/* Avatar */
#info-viewer .moodbile-avatar, #wrapper .moodbile-avatar {
    height:35px;
    overflow:hidden;
    position:absolute;
    width:35px;
    background-repeat: no-repeat;
    background-position: 0;
}

/* Sections */
section {
    position: relative;
}
section a {
    font-weight: bold;
    text-decoration: none;
    color: #4F4F4F;
    display: block;
    padding: 10px;
    font-size: 14px;
}
section div, div[data-type='data-group'] div{
    padding: 5px;
    border-bottom: 1px solid #e6e6e6;
    padding: 0;
    position: relative;
}
div[data-type='course'] div, #info-viewer div, #info-viewer div div div, div[data-type='data-group'], div[data-type='data-group'] div div, .moodbile-filter-box{
    border-bottom: 0;
}

/* info-viewer */
#info-viewer {
    background-color: #fff;
    position: absolute;
    z-index: 9999;
    color: #333;
    width: 100%;
}
#info-viewer div div div div{
    border-bottom: 1px solid #e6e6e6;
    min-height:35px;
}
#info-viewer div div div, #info-viewer div div div div div{
    border: 0;
    min-height:0;
}
#info-viewer div a {
    min-height:25px;
    padding:5px;
}
#info-viewer header {
    height: 35px;
    position: relative;
    background-color: #f0f0f0;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #e6e6e6;
    z-index:9999;
}
#info-viewer header h1 {
    color: #6f6f6f;
    font-size: 14px;
    line-height: 18px;
    padding: 2px 45px;
    text-align: center;
    text-shadow:0 1px 0 #fff;
}
#info-viewer header h2 {
    color:#333333;
    font-size: 10px;
    line-height: 8px;
    padding: 2px 50px;
    margin-top: -3px;
    text-align: center;
    text-shadow:0 1px 0 #fff;
    overflow: hidden;
}

#info-viewer header button {
    padding:0;
    position: absolute;
    height: 25px;
    /*width: 25px;*/
    border: 1px solid #999;
    color: #000;
    text-shadow: 1px 1px 0 #e6e6e6;
    font-weight: bold;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    background: -webkit-gradient(linear,left bottom,left top,color-stop(0, rgb(230,230,230)),color-stop(1, rgb(181,181,181)));
    background: -moz-linear-gradient(center bottom,rgb(230,230,230) 0%,rgb(181,181,181) 100%);
    overflow: hidden;
}

#info-viewer header .back {
    top: 5px;
    left: 5px;
}
#info-viewer header .close {
    top: 5px;
    right: 5px;
}
#info-viewer header .newDiscussion, #info-viewer header .newPost {
    top: 5px;
    right: 40px;
}
#info-viewer .moodbile-info-view-content {
    position: relative;
}
#info-viewer .moodbile-info-viewer-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fff;
    width: 100%;
}
#info-viewer .moodbile-extra-options {
    position:absolute;
    top:37px;
    width:100%;
    z-index:8888;
}
#info-viewer .moodbile-extra-options div {
    margin: 0 10px;
    background:transparent url(../images/80-trans-background.png);
    border: 0;
}
#info-viewer .moodbile-extra-options div div {
    background:none;
}

/* Authentication */
.moodbile-authentication {
    padding: 5px;
}
.moodbile-authentication div {
    border: 0;
}
.moodbile-authentication .login-form #login-button, .section.authentication .login-form button {
    background: -webkit-gradient(linear, left top, left bottom, from(#7DB3DF), to(#336699));
    border: 1px solid #006699;
    color: #fff;
    display:block;
    -webkit-border-radius: 10px; 
    -moz-border-radius: 10px;
    font-weight: bold;
    font-size: 16px;
    padding: 5px;
    margin: 10px auto;
}
.moodbile-authentication .login-form {border-bottom: 0;}
.moodbile-authentication .login-form input[type='text'], .moodbile-authentication .login-form input[type='password'] {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background-color:#FFFFFF;
    border:1px solid #999999;
    clear:both;
    color:#999999;
    display:block;
    font-size: 16px;
    font-style:italic;
    margin:5px auto;
    text-align:center;
    width:200px;   
}
.moodbile-authentication .moodbile-site-summary {padding: 5px; font-size: 13px;}
.moodbile-authentication .moodbile-site-summary p {padding: 5px 0;}
.moodbile-authentication input.invalid-input {
    color: #F00 !important;
    border-color: #f00 !important;
}

/* Frontpage */
.moodbile-course-section .summary a {
    display: block;
}

/* Eventos */
.moodbile-event-link div, .moodbile-course-title div{
    padding:0 21px !important;
}
.moodbile-event-link div:last-child, .moodbile-course-title div:last-child{
    font-size: 12px;
    font-weight: normal;
    color: #4f4f4f;
}
.moodbile-event details .intro {
    color: #333;
}

/* Foros */
.moodbile-discussion-link {
    padding: 0 !important;
}

.moodbile-discussion-header div, .moodbile-post-header div{
    margin: 0 40px;
}

.moodbile-discussion-autor, .moodbile-post-autor {
    font-size:11px;
    font-weight:normal;
    padding-top:3px !important;
}

.moodbile-post a{
    min-height: 35px !important;
    padding:0 !important;
    border: 0;
}

.moodbile-post a:first-child{
    border-top: 0;
}

.moodbile-post a.reply-this-post {
    bottom: -5px;
    position: absolute;
    right: 0;
}

.moodbile-post-msg {
    padding:10px 10px 10px 40px !important;
    font-size: 12px;
    text-align: justify;
}

.moodbile-post .edit-in-place {
    background:none repeat scroll 0 0 transparent;
    border:0 none;
    bottom: 12px;
    height:20px;
    position:absolute;
    right:25px;
    width:25px;
    z-index:555;
}

.moodbile-new-discussion {
    -moz-border-radius-bottomleft: 10px;
    -moz-border-radius-bottomright: 10px;
    -webkit-border-bottom-left-radius: 10px;
    -webkit-border-bottom-right-radius: 10px;
}
.moodbile-new-discussion label {
    font-size: 12px;
    color: #fff;
}
.moodbile-new-discussion input[type="text"], .moodbile-new-discussion textarea {
    margin: 10px 0;
    width: 100%;
} 
#info-viewer button[disabled="disabled"]{opacity: 0.5;}

/* Footer */
footer {
    text-align: center;
    font-style: italic;
    font-size: 11px;
    padding: 10px;
}
footer p {
    padding: 5px;
}

footer a#about {
    font-weight: bold;
}

/* Filter */
.moodbile-filter {
    width:100%;
    z-index: 8888;
    border: 0;
    padding: 0;
}
.moodbile-filter-box {
    height: 40px;
    background-color: #000;
    opacity: 0.8;
}
#moodbile-filter-opts {
    border: 0;
    margin: 0;
    padding:10px;
}
#moodbile-filter-opts select{
    width: 100%;
    
}
#moodbile-filter-toggle {
    background-color:#000000;
    border:0 none;
    color:#FFFFFF;
    opacity:0.8;
    margin: 0;
    padding:5px;
    float: right;
    margin-right: 20px;
    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-bottomright: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
}

/* Notification booble */
.moodbile-notification {
    -moz-border-radius:10px;
    -webkit-border-radius: 10px;
    background-color: #CF2626;
    background: -webkit-gradient(linear,left bottom,left top,color-stop(0, rgb(207,38,38)),color-stop(1, rgb(223,69,69)));
    background: -moz-linear-gradient(center bottom,rgb(207,38,38) 0%,rgb(223,69,69) 100%);
    color:#FFFFFF;
    display:block;
    height: 20px;
    position:absolute;
    right: -5px;
    top: -10px;
    width: 20px;
    text-shadow: 0 -1px 0 #333;
    -moz-box-shadow: 0 1px 3px #333;
    -webkit-box-shadow: 0 1px 3px #333;
    z-index: 50;
    text-indent: 1px;
    line-height: 20px;
}

.new {
    background-color: #FFFFDF;
}

/* icons */
.moodbile-icon {
    float:left;
    height:16px;
    margin-right: 5px;
    width:16px;
    display:block;
}
.icon-pdf{
    background:transparent url(../images/icons.png) no-repeat scroll 0 -1px;
}
.icon-doc, .icon-odt{
    background:transparent url(../images/icons.png) no-repeat scroll 0 -21px;
}
.icon-pps{
    background:transparent url(../images/icons.png) no-repeat scroll 0 -42px;
}
.icon-assignment{
    background:transparent url(../images/icons.png) no-repeat scroll 0 -62px;
}
.icon-quiz{
    background:transparent url(../images/icons.png) no-repeat scroll 0 -82px;
}
.icon-forum{
    background:transparent url(../images/icons.png) no-repeat scroll 0 -100px;
}
.icon-info {
    -moz-border-radius:10px;
    -webkit-border-radius: 10px;
    background: -webkit-gradient(linear,left bottom,left top,color-stop(0, rgb(0,51,102)),color-stop(1, rgb(51,102,153)));
    background: -moz-linear-gradient(center bottom,rgb(0,51,102) 0%,rgb(51,102,153) 100%);
    color: #fff;
    font-family:times New Roman;
    font-weight: bold;
    line-height:20px;
    text-align:center;
    text-shadow:0 -1px 0 #333;
    -moz-box-shadow:0 1px 3px #999;
    -webkit-box-shadow:0 1px 3px #999;
    height:20px;
    width:20px;
    margin-right: 15px;
    letter-spacing: normal;
}
.moodbile-courses .icon-info {
    margin-right:5px;
}
.icon-email {
    background:transparent url(../images/icons.png) no-repeat scroll 0 -180px;
    text-indent:-9999px;
}
.icon-city, .icon-url {
    background:transparent url(../images/icons.png) no-repeat scroll 0 -161px;
    text-indent:-9999px;
}
.icon-courses {
    background:transparent url(../images/icons.png) no-repeat scroll 0 -141px;
    text-indent:-9999px;
}
.icon-roles {
    background:transparent url(../images/icons.png) no-repeat scroll 0 -198px;
    text-indent:-9999px;
}
.icon-back {
    background:transparent url(../images/icons.png) no-repeat scroll 0 -258px;
    margin: 5px;
    text-indent:-9999px;
}
.icon-close {
    background:transparent url(../images/icons.png) no-repeat scroll 0 -274px;
    margin: 5px;
    text-indent:-9999px;
}
.icon-edit {
    background:transparent url(../images/icons.png) no-repeat scroll 0 -327px;
    text-indent:-9999px;
}
.icon-save {
    background:transparent url(../images/icons.png) no-repeat scroll 0 -310px;
    text-indent:-9999px;
}
.icon-cancel {
    background:transparent url(../images/icons.png) no-repeat scroll 0 -292px;
    text-indent:-9999px;
}
.icon-user-op-decoration {
    border-color:transparent transparent #000000 transparent;
    border-style: solid;
    border-width:10px 5px;
    float:right;
    margin-right:13px;
    margin-top:-5px;
    opacity:0.8;
    height:0px;
	width:0px;
	display: block !important;
}
.icon-reply {
    background:transparent url(../images/icons.png) no-repeat scroll 0 -120px;
    text-indent:-9999px;
}
.icon-newDiscussion {
    background:url("../images/icons.png") no-repeat scroll 0 -216px transparent;
    margin: 5px;
    text-indent:-9999px;
}
.icon-newPost {
    background:url("../images/icons.png") no-repeat scroll 0 -238px transparent;
    margin: 5px;
    text-indent:-9999px;
}

/* Other */
.arrow {
    background: url(../images/arrows.png); background-repeat: no-repeat; background-position: right 10px;
}
#info-viewer .arrow {
    background-image: url(../images/arrows.png); background-repeat: no-repeat; background-position: right 6px;
}

    /*Collapsible*/
a.collapse { 
    padding:0;
    position:absolute;
    right:5px;
    top:9px;
}
.collapsed, .collapsed div{ display: none; }
.summary a{ font-weight: normal; position: relative;}

    /* extra information */
details div{
    font-size:12px;
    padding:0 20px 7px 30px !important;
    text-align: justify;
}
    /* Other */
.moodbile-course-name, .moodbile-event-date {
    background-color:#F0F0F0;
    border-bottom:1px solid #E6E6E6;
    border-top:1px solid #FFFFFF;
    color:#8f8f8f;
    display:block;
    font-size:12px;
    padding:2px 10px !important;
    position:static !important;
    text-shadow:0 1px 0 #FFFFFF;
}
.moodbile-edit-in-place textarea {
    color:#333;
    font-size:12px;
    height:100px;
    margin:0;
    width:100%;
    font-style: normal;
    font-family: Verdana, Arial, Helvetica;
    resize: none;
}
.moodbile-edit-in-place button {
    background:none repeat scroll 0 0 transparent;
    border:0 none;
    margin-top: 5px;
}