body {font-family: Verdana, Arial, Helvetica;font-size: 1em;background-image: url(../images/background.png); height: 356px;}
a{text-decoration: none;}
header {text-align: center; margin-top: 10px;}
header h1{margin:0 auto; width: 310px; height: 50px; background:transparent url(../images/logo.png) no-repeat scroll 75px 0; text-indent: -9999px;}
#container {position:relative; overflow: auto; height: 100%;}
#wrapper {margin: 10px 0; position: relative; padding-bottom: 60px;}
nav#toolbar {
    font-size: 0.6em;
    text-align: center;
    position: fixed;
    bottom: 0;
    display: block;
    width: 100%;
    background-image: url(../images/navigation-background.png);
    background-repeat: repeat-x;
    height:50px;
    font-weight: bold;
    z-index: 9999;
}
nav#toolbar ul {
    position: relative;
    margin-top: 5px;
}
nav#toolbar li {
    position: relative;
    float:left;
    height:30px;
    margin:0 5px;
    padding:0 5px;
    width:40px;
}
nav#toolbar a{color: #959595;}
nav#toolbar li.active a{
    text-shadow: 0 0 5px #fff;
    color: #fff
}
section {
    background-color: #fff;
    border:1px solid #999;
    margin: 5px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}
section a{
    font-weight: bold;
    text-decoration: none;
    color: #333;
    display: block;
    padding: 10px;
}
section .label {padding: 10px;}
/*section div:hover{
    background-color: #FFCB44;
}*/
section div:first-child{
    -moz-border-radius-topleft: 10px;
    -webkit-border-top-left-radius: 10px;
    -moz-border-radius-topright: 10px;
    -webkit-border-top-right-radius: 10px;
}
section div:last-child{
    -moz-border-radius-bottomleft: 10px;
    -webkit-border-bottom-left-radius: 10px;
    -moz-border-radius-bottomright: 10px;
    -webkit-border-bottom-right-radius: 10px;
}
section div {border-bottom: 1px solid #999;padding: 0;}
section div:last-child {border-bottom: 0;}
section div div {border-bottom: 0;}

footer {font-size: 0.8em;text-align: center;}

/* Foro */
.replyes div, .description, .info .summary {border-bottom: 0;padding: 10px 20px;font-size: 0.7em;}
/* Navigation icons */
#courses a{
display:block; width: 30px; height: 40px;background: url(../images/navigation-icons.png);background-repeat: no-repeat;line-height:70px;text-indent:-3px;}
#resources a{
display:block; width: 30px; height: 40px;background: url(../images/navigation-icons.png);background-repeat: no-repeat;background-position: -30px 0;line-height:70px;text-indent:-10px;
}
#forum a{
display:block; width: 30px; height: 40px;background: url(../images/navigation-icons.png);background-repeat: no-repeat;background-position: -60px 0;line-height:70px;text-indent:0;
}
#events a{
display:block; width: 30px; height: 40px;background: url(../images/navigation-icons.png);background-repeat: no-repeat;background-position: -90px 0;line-height:70px;text-indent:-6px;
}
#grade a{
display:block; width: 30px; height: 40px;background: url(../images/navigation-icons.png);background-repeat: no-repeat;background-position: -120px 0;line-height:70px;text-indent:-6px;
}
/* Loading */
#loading {
    position: absolute;
    top: 150px;
    left: 100px;
    width: :125px;
    height: 75px;
    opacity: 0.75;
    background: #000;
    color: #fff;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    background-image: url(../images/preload.gif);
    background-repeat: no-repeat;
    background-position: center center;
    overflow: hidden;
    line-height: 500px;
}

/* Courses arrow */
.course {
background: url(../images/arrows.png);background-repeat: no-repeat;background-position: right 10px;
}

/* breadcrumb */
nav#breadcrumb {font-size: 0.7em; margin: 5px 8px;}
nav#breadcrumb ul li{display: inline; padding: 0 2px;}
nav#breadcrumb a{
display: none;
color: #000;
background: url(../images/breadcrumb.png);
background-repeat: no-repeat;
background-position: right 0;
padding-right: 15px;
font-weight: bold;
}
nav#breadcrumb li:last-child a{ background-image: none;}
nav#breadcrumb li#home span{background:transparent url(../images/breadcrumb.png) no-repeat scroll center bottom;
display:inline-block;
height:12px;
text-indent:-9999px;
width:12px;}

/*Collapsible*/
.expanded div{ display: block; }
.collapsed div{ display: none; }
.collapsed .visible{ display: block; }
.summary a{font-weight: normal; position: relative;}
.collapse-icon{background:transparent url(../images/expanded_collapsed.png) no-repeat scroll; position:absolute;right:7px;top:6px;height: 25px; width: 25px; opacity:0.7;}
.expanded .collapse-icon{background-position: center bottom;}
.collapsed .collapse-icon{background-position: center top;}

/* extra information */
.info {position: relative;display: block;}
.more {font-size:0.6em;padding:0; position: absolute; right:0;top:-30px;}
.more a{ padding: 3px;}
.data {font-size:0.8em;font-weight:normal;line-height:17px; padding: 10px 20px;}

/* icons */
.icon-pdf{
background:transparent url(../images/icons.gif) no-repeat scroll 0 -1px;
display:inline-block;
height:16px;
margin-right:5px;
width:16px;
}
.icon-doc{
background:transparent url(../images/icons.gif) no-repeat scroll 0 -21px;
display:inline-block;
height:16px;
margin-right:5px;
width:16px;
}
.icon-pps{
background:transparent url(../images/icons.gif) no-repeat scroll 0 -42px;
display:inline-block;
height:16px;
margin-right:5px;
width:16px;
}
.icon-asigment{
background:transparent url(../images/icons.gif) no-repeat scroll 0 -62px;
display:inline-block;
height:16px;
margin-right:5px;
width:16px;
}
.icon-quiz{
background:transparent url(../images/icons.gif) no-repeat scroll 0 -82px;
display:inline-block;
height:16px;
margin-right:5px;
width:16px;
}
.icon-forum{
background:transparent url(../images/icons.gif) no-repeat scroll 0 -100px;
display:inline-block;
height:16px;
margin-right:5px;
width:16px;
}
.icon-info{
background:transparent url(../images/icons.gif) no-repeat scroll 0 -122px;
display:inline-block;
height:16px;
margin-right:5px;
width:16px;
}

/* TEST */
.box {
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 50px;
    background-color: aqua;
}