body {font-family: Verdana, Arial, Helvetica;font-size: 1em;background-image: url(../images/background.png); height: 356px; width: 320px;}
a{text-decoration: none;}
header {text-align: center; margin-top: 10px;}
#content header h1{margin:0 auto; width: 310px; height: 50px; background:transparent url(../images/logo.png) no-repeat scroll 75px 0; text-indent: -9999px;}
ul {list-style-image:none;list-style-position:outside;list-style-type:none;}
ul li{padding: 5px; }
dialog, dl {}
dt{background-color:#E6E6E6;
border-bottom:1px solid #999999;
border-top:1px solid #999999;
color:#666666;
font-size:0.7em;
font-weight: bold;
padding:2px;
height: 30px;}
dd{font-size:0.8em;margin-bottom:8px;padding:5px;min-height: 40px;}
#container{position:relative; overflow: auto; height: 100%; top: 0;}
.content {min-height: 100%; top: 0; width: 320px; float: left; width:100%;}
#info-viewer .content {}
#wrapper {margin: 10px 0; position: relative; padding-bottom: 60px;}
#user-profile {
    -moz-border-radius: 5px;
    -webkit-border-radius: 10px;
    background-position:-27px 50%;
    border:1px solid #999;
    height:50px;
    margin-right:5px;
    margin-top:-50px;
    float: right;
    width:50px;
    z-index:100;
    -moz-box-shadow:0 1px 4px #999999;
    -webkit-box-shadow:0 1px 4px #999999;
}
nav#toolbar {
    font-size: 0.6em;
    text-align: center;
    position: fixed;
    bottom: 0;
    display: block;
    width: 320px;
    background-image: url(../images/navigation-background.png);
    background-repeat: repeat-x;
    height:50px;
    font-weight: bold;
    z-index: 0;
}
nav#toolbar ul {
    position: relative;
    margin-top: 5px;
}
nav#toolbar li {
    position: relative;
    float:left;
    height:30px;
    margin:0 5px;
    padding:0 5px;
    width:40px;
}
nav#toolbar a{color: #959595;}
nav#toolbar li.active a{
    text-shadow: 0 0 5px #fff;
    color: #fff
}
section {
    background-color: #fff;
    border:1px solid #999;
    margin: 5px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}
section a{
    font-weight: bold;
    text-decoration: none;
    color: #333;
    display: block;
    padding: 10px;
}
section .label {padding: 10px;}
section div:first-child{
    -moz-border-radius-topleft: 10px;
    -webkit-border-top-left-radius: 10px;
    -moz-border-radius-topright: 10px;
    -webkit-border-top-right-radius: 10px;
}
section div:last-child{
    -moz-border-radius-bottomleft: 10px;
    -webkit-border-bottom-left-radius: 10px;
    -moz-border-radius-bottomright: 10px;
    -webkit-border-bottom-right-radius: 10px;
}
section div, #info-viewer div div{border-bottom: 1px solid #999;padding: 0;}
section div:last-child, #info-viewer div div:last-child {border-bottom: 0;}
section div div, #info-viewer div div div {border-bottom: 0;}

footer {font-size: 0.8em;text-align: center;}

/* Foro */
.replyes div, .description, .info .summary {border-bottom: 0;padding: 10px 20px;font-size: 0.7em;}
.posts em {font-size: 0.7em;}
.replyes dt {text-align: right;}

/* Notifications */
span.notification-num{
   -moz-border-radius:10px;
   -webkit-border-radius: 10px;
    background-color:#FF0000;
    color:#FFFFFF;
    font-size:0.8em;
    height:14px;
    padding:1px;
    position:absolute;
    right:25px;
    text-align:center;
    top:12px;
    width:14px;
    display:block;
}


/* Navigation icons */
#courses a{display:block; width: 30px; height: 40px;background: url(../images/navigation-icons.png);background-repeat: no-repeat;line-height:70px;text-indent:-3px;}
#resources a{display:block; width: 30px; height: 40px;background: url(../images/navigation-icons.png);background-repeat: no-repeat;background-position: -30px 0;line-height:70px;text-indent:-10px;}
#forum a{display:block; width: 30px; height: 40px;background: url(../images/navigation-icons.png);background-repeat: no-repeat;background-position: -60px 0;line-height:70px;text-indent:0;}
#events a{display:block; width: 30px; height: 40px;background: url(../images/navigation-icons.png);background-repeat: no-repeat;background-position: -90px 0;line-height:70px;text-indent:-6px;}
#grade a{display:block; width: 30px; height: 40px;background: url(../images/navigation-icons.png);background-repeat: no-repeat;background-position: -120px 0;line-height:70px;text-indent:-6px;}

/* Loading */
#loading {
    position: fixed;
    top: 0;left: 0px;
    width:100%;height: 100%;
    opacity: 0.5;
    background: #000;
    color: #fff;
    overflow: hidden;
    z-index: 9999;
}
#loading div {
    background-image: url(../images/preload.gif);
    background-repeat: no-repeat;
    background-position: center center;
    width: 150px; height: 150px;
    line-height:200px;
    margin:135px auto;
    text-align: center;
    font-weight: bold;
}

/* Courses arrow */
.arrow {
background: url(../images/arrows.png);background-repeat: no-repeat;background-position: right 10px;
}

/* breadcrumb */
nav#breadcrumb {font-size: 0.7em; margin: 5px 8px;}
nav#breadcrumb ul li{display: inline; padding: 0 2px;}
nav#breadcrumb a{
    display: none;
    color: #000;
    background: url(../images/breadcrumb.png);
    background-repeat: no-repeat;
    background-position: right 0;
    padding-right: 15px;
    font-weight: bold;
}

nav#breadcrumb li:last-child a{ background-image: none;}
nav#breadcrumb li#home span{background:transparent url(../images/breadcrumb.png) no-repeat scroll center bottom;display:inline-block;height:12px;text-indent:-9999px;width:12px;}

/*Collapsible*/
.expanded div{ display: block; }
.collapsed div{ display: none; }
.collapsed .visible{ display: block; }
.summary a{font-weight: normal; position: relative;}
.collapse-icon{background:transparent url(../images/expanded_collapsed.png) no-repeat scroll; position:absolute;right:7px;top:6px;height: 25px; width: 25px; opacity:0.7;}
.expanded .collapse-icon{background-position: center bottom;}
.collapsed .collapse-icon{background-position: center top;}

/* extra information */
.info {position: relative;display: block;}
.more {font-size:0.6em;padding:0; position: absolute; right:0;top:-28px;}
.courses .more{right:16px;}
.more a{padding: 3px;}
.data {font-size:0.8em;font-weight:normal;line-height:17px; padding: 10px 20px;}

/* info-viewer */
#info-viewer {position: relative; width: 310px; margin-left: 320px;float: left;}
#info-viewer div div{padding: 10px;}
#info-viewer div a{padding: 0;}
#info-viewer .avatar img, #wrapper .avatar img {margin-left:-11px;margin-top:-11px;width:75px;}
#info-viewer .content.user div{padding: 7px;}
#info-viewer .content.user div span:last-child{margin-left: 5px;display:inline-block;}
#info-viewer .content.user dd{min-height:15px;}
#info-viewer #replyButton {
    height:20px;
    position:absolute;
    right:5px;
    top:5px;
    width:20px;
    background: -webkit-gradient(linear, left top, left bottom, from(#999), to(#414141));
    border: 1px solid #000;color: #fff; -webkit-border-radius: 5px; -moz-border-radius: 5px;font-weight: bold;
}
#info-viewer #replyPost{ background-color:#CFCFCF;
border-bottom:1px solid #e6e6e6;}
#info-viewer #replyPost textarea{width: 210px; -moz-border-radius: 8px; -webkit-border-radius: 8px;border: 1px solid #999; height: 50px;}
#info-viewer #replyPost button{background: -webkit-gradient(linear, left top, left bottom, from(#7DB3DF), to(#336699));
border: 1px solid #006699;color: #fff; -webkit-border-radius: 5px; -moz-border-radius: 5px;font-weight: bold; height: 25px;float:right;margin-top:32px;}
#info-viewer #replyPost button[disabled="disabled"]{opacity: 0.5;}
#info-viewer header {
    -moz-border-radius-topleft: 10px;
    -webkit-border-top-left-radius: 10px;
    -moz-border-radius-topright: 10px;
    -webkit-border-top-right-radius: 10px;
    margin-top: 0px;
    height: 30px;
    position: relative;
    background: #000;
    background: -webkit-gradient(linear, left top, left bottom, from(#414141), to(#000));
}
#info-viewer header h1 {color:#FFF;height:30px;line-height:28px;text-shadow: 0 0 3px #fff;}
#info-viewer header .back {padding:0; position: absolute; top: 5px; left: 5px; height: 20px;
background: -webkit-gradient(linear, left top, left bottom, from(#999), to(#414141));
border: 1px solid #000;color: #fff; -webkit-border-radius: 5px; -moz-border-radius: 5px;font-weight: bold;
}
#info-viewer .post dt {padding: 0; line-height: 15px;}

/* Avatar */
#info-viewer .avatar, #wrapper .avatar {float:left;height:30px;overflow:hidden;margin-left:3px;margin-right:3px;margin-top: 3px;width:30px;background-position: -2px -2px;}
.grade .avatar, .post .avatar {-moz-border-radius: 8px; -webkit-border-radius: 8px; border: 0;}
#info-viewer .avatar {-webkit-border-radius: 10px;-moz-border-radius: 5px;border: 1px solid #999;background-position: -25px -30px;}
#info-viewer .post .avatar {-webkit-border-radius: 0;-moz-border-radius: 0;border: 0;border-right: 1px solid #999;background-position: -1px -1px; margin:0 5px 0 0;}
#info-viewer .content.user .avatar{margin-top: -7px;margin-left: -7px;-webkit-border-radius: 0;-moz-border-radius: 0;border: 0;border-right: 1px solid #999;}

/* icons */
.icon-pdf{
    background:transparent url(../images/icons.gif) no-repeat scroll 0 -1px;
    display:inline-block;
    height:16px;
    margin-right:5px;
    width:16px;
}
.icon-doc{
    background:transparent url(../images/icons.gif) no-repeat scroll 0 -21px;
    display:inline-block;
    height:16px;
    margin-right:5px;
    width:16px;
}
.icon-pps{
    background:transparent url(../images/icons.gif) no-repeat scroll 0 -42px;
    display:inline-block;
    height:16px;
    margin-right:5px;
    width:16px;
}
.icon-asigment{
    background:transparent url(../images/icons.gif) no-repeat scroll 0 -62px;
    display:inline-block;
    height:16px;
    margin-right:5px;
    width:16px;
}
.icon-quiz{
    background:transparent url(../images/icons.gif) no-repeat scroll 0 -82px;
    display:inline-block;
    height:16px;
    margin-right:5px;
    width:16px;
}
.icon-forum{
    background:transparent url(../images/icons.gif) no-repeat scroll 0 -100px;
    display:inline-block;
    height:16px;
    margin-right:5px;
    width:16px;
}
.icon-info{
    background:transparent url(../images/icons.gif) no-repeat scroll 0 -122px;
    display:inline-block;
    height:16px;
    width:16px;
}
.icon-email{
    background:transparent url(../images/icons.gif) no-repeat scroll 0 -180px;
    display:inline-block;
    height:16px;
    width:16px;
    text-indent:-9999px;
}
.icon-city{
    background:transparent url(../images/icons.gif) no-repeat scroll 0 -161px;
    display:inline-block;
    height:16px;
    width:16px;
    text-indent:-9999px;
}
.icon-courses{
    background:transparent url(../images/icons.gif) no-repeat scroll 0 -141px;
    display:inline-block;
    height:16px;
    width:16px;
    text-indent:-9999px;
}
.icon-roles{
    background:transparent url(../images/icons.gif) no-repeat scroll 0 -198px;
    display:inline-block;
    height:16px;
    width:16px;
    text-indent:-9999px;
}