<div class="moodbile-footer">
    <p>
        Moodbile © 2010, released as Free Software under <a href="http://www.gnu.org/licenses/gpl.html" rel="nofollow">GNU General Purpose License v3</a>.
    <p>
        <a href="#" id="about"/>
    </p>
</div>
<div class="moodbile-about">
    <p><a href="#" class="sitename">Moodbile</a></p>
    <p>Since Moodle 2.0 (and the backport to 1,9) Moodle  has a set of webservices connectors. Moodbile  is a PHP based web Application that plugs into these services, and allows the Student to access part of the Moodle's Learning Tools from a Mobile Browser (Android, iPhone, etc) and devices like the OLPC XO.</p>

    <p>Moodbile is also intended to be a reference implementation of a client for the Moodle Webservices, since the Moodbile team is also responsible for developing and maintaining Webservices at Moodle.org</p>

    <p>Moodbile is a project iniciated and leaded by María José Casany, Ludo(Marc Alier) and Jordi Piguillem at the GESSI research group at UPC.</p>

    <p>With main contributions from Imanol Urra at UPC, and Miguel Angel Conde at Universidad de Salamanca.</p>

    <p>Moodbile is Copyright 2009 by Maria Jose Casany, Marc Alier and Jordi Piguillem. Moodbile is released as Free Software under GNU General Purpose License v3. Contact info: Marc Alier at marc.alier@upc.edu</p>
</div>