<section id="info-viewer" class="moodbile-info-viewer">
    <div class="moodbile-info-viewer-wrapper">
        <header class="moodbile-info-view-title">
            <hgroup>
                <h1></h1>
                <h2></h2>
            </hgroup>
            <span class="opts">
                <button class="back">
                    <span class="moodbile-icon icon-back"></span>
                </button>
                <button class="close">
                    <span class="moodbile-icon icon-close"></span>
                </button>
            </span>
        </header>
        <div class="moodbile-info-view-content">
            <div class="content"></div>
        </div>
    </div>
</section>