<section class="moodbile-posts">
    <div class="moodbile-post">
        <span class="moodbile-avatar"/>
        <a class="moodbile-post-title" href="#"/>
        <div class="moodbile-post-replyes">
            <div class="moodbile-post-reply">
                <a class="user" href="#">
                    <div class="moodbile-post-reply-header">
                        <span class="moodbile-avatar"/>
                        <div class="moodbile-post-reply-title"/>
                        <div class="moodbile-post-reply-autor"/>
                    </div>
                </a>
                <div class="moodbile-post-reply-msg"></div>
            </div>
        </div>
    </div>
</section>