<section class="moodbile-posts">
    <div class="moodbile-post">
        <div class="avatar"/>
        <div class="moodbile-post-title">
            <a href="#"/>
        </div>
        <div class="moodbile-post-replyes">
            <dialog>
                <dt class="moodbile-post-reply">
                    <span class="avatar"/>
                    <span class="moodbile-post-reply-title"/><br />
                    <a class="user" href="#"/>
                </dt>
                <dd class="moodbile-post-reply-msg" />
            </dialog>
        </div>
    </div>
</section>